<html>

<head>
    <link rel="stylescheet" href="/css/style.css">
 <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
<title> Home - JB-Chat </title>
</head>
<body style="background-color: black;">

<div class="container text-center text-light" style="padding-top: 110px; padding-bottom: 20px;">
    <h1>Welcome to RemindMe</h1>


    <button onclick="Notify()" class="btn btn-light">Grant Access to notify you.</button>
    


    <form id="form">
        <input id="name" name="name" type="text"  placeholder="Whats your reminder">
        
        <input id="date" name="date" type="datetime-local"  placeholder="When do you want to be reminded">
        <select id="method">
            <option value="browser">Notified Via Browser</option>
            <option value="email">Notified Via Email</option>
            <option value="sms">Notified Via SMS</option>
            <option hidden value="mobile-app">Notified Via Mobile App (Coming soon)</option>
        </select>
    </form>


            


</div>
<script src="/js/index.js"></script>
<script src="/js/reminders.js"></script>
</body>
</html>